body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
.card-top {
  margin-top: -5%;
}
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.img {
    margin-left: 40%;
    width: 50%;
    height: 100%;
}
.top {
    margin-left: -51%;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  .font-bold {
    font-weight: bold;
    font-size: clamp(15px, 5vw, 20px);
  }
  
  .line {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 3px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
  .menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin-right: 20px;
  }
  
  .menu li a {
    color: #333;
    text-decoration: none;
  }
  
  @media screen and (max-width: 600px) {
    .burger {
      display: flex;
    }
    
    .menu {
      display: none;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
      transition: opacity 0.3s ease-in-out;
      opacity: 0;
    }
    
    .menu.active {
      display: flex;
      opacity: 1;
    }
    
    .menu li {
      margin: 10px 0;
    }
    
    .menu li a {
      color: #333;
      text-decoration: none;
      text-align: center;
    }
    
    .line {
      background-color: #333;
      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }
    
    .line.active:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    
    .line.active:nth-child(2) {
      opacity: 0;
    }
    
    .line.active:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
.pl {
    padding-left: 3%;
}
.ml {
    margin-left: 400px;
  }
  
  @media screen and (max-width: 768px) {
    .ml {
      margin-left: 100px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .ml {
      margin-left: 50px;
    }
  }
  .font-thin {
    font-weight: normal;

}
.bold {
    font-weight: 900;
}
.whatsapp {
    width: 10%;
    height: 25%;
}
.container-title {
    text-align: center;
    font-weight: 900;
    font-size: clamp(15px, 5vw, 50px);
    margin-top: -20%;
}
.container-subtitle {
    font-size: clamp(15px, 5vw, 16px);
    margin-top: -2%;
    text-align: center;
}
.settings {
    width: 20%;
    margin-top: -20%;
}
.card {
    text-align: center;
    width: 300px;
    background-color: #fff;
    margin: 20px;
    display: inline-block;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
  }

  .card img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
  }

  .card-content {
    padding: 20px;
  }

  .card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .card-description {
    font-size: 16px;
    color: #555;
    background: #FFF7CE;
  }
  .card-container {
    margin-left: 20%;
}

@media (max-width: 767px) {
    .card-container {
        margin-left: 0;
    }
}
.np {
    margin-top: 10%;  
}
.footer {
    width: 100%;
    margin-top: 50px;
}
.container {
  position: relative;
}

.card-container {
  position: relative;
  z-index: 1;
}
.card-description2 {
  font-size: 16px;
  color: #555;
}
.btn {
  margin-left: 65%;
  width: 25%;
  margin-top: -10%;
}
.gear__container {
  margin-top: 300px;
}
